opencpn_v1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2020 (https://www.liquid-technologies.com)-->
<xsd:schema xmlns="127.0.0.1:8887" elementFormDefault="qualified" targetNamespace="127.0.0.1:8887" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="WaypointExtension" type="WaypointExtension_t" />
    <xsd:element name="RouteExtension" type="RouteExtension_t" />
    <xsd:element name="RoutePointExtension" type="RoutePointExtension_t" />
    <xsd:complexType name="WaypointExtension_t">
        <xsd:sequence>
            <xsd:element name="guid" />
            <xsd:element name="viz" />
            <xsd:element name="sharedWPviz" />
            <xsd:element name="start" />
            <xsd:element name="end" />
            <xsd:element name="planned_speed" />
            <xsd:element name="style">
                <xsd:complexType>
                    <xsd:attribute name="width" />
                    <xsd:attribute name="style" />
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RouteExtension_t">
        <xsd:sequence>
            <xsd:element name="guid" type="xsd:string" minOccurs="1" />
            <xsd:element name="viz" type="xsd:boolean" minOccurs="0" />
            <xsd:element name="sharedWPviz" type="xsd:boolean" minOccurs="0" />
            <xsd:element name="start" type="xsd:dateTime" minOccurs="0" />
            <xsd:element name="end" type="xsd:dateTime" minOccurs="0" />
            <xsd:element name="planned_speed" type="xsd:double" minOccurs="0" />
            <xsd:element name="planned_departure" type="xsd:dateTime" minOccurs="0" />
            <xsd:element name="style" minOccurs="0">
                <xsd:complexType>
                    <xsd:attribute name="width" />
                    <xsd:attribute name="style" />
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RoutePointExtension_t">
        <xsd:sequence>
            <xsd:element name="guid" type="xsd:string" minOccurs="0" />
            <xsd:element name="viz" type="xsd:boolean" minOccurs="0" />
            <xsd:element name="sharedWPviz" type="xsd:boolean" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="guid" type="xsd:string" />
    <xsd:element name="viz" type="xsd:boolean" />
    <xsd:element name="planned_speed" type="xsd:double" />
    <xsd:element name="planned_departure" type="xsd:string" />
    <xsd:element name="time_display" type="xsd:string" />
    <xsd:element name="auto_name" type="xsd:boolean" />
    <xsd:element name="shared" type="xsd:boolean" />
    <xsd:element name="arrival_radius" type="xsd:double" />
    <xsd:element name="waypoint_range_rings">
        <xsd:complexType>
            <xsd:attribute name="number" type="xsd:integer" />
            <xsd:attribute name="step" type="xsd:integer" />
            <xsd:attribute name="units" type="xsd:integer" />
            <xsd:attribute name="visible" type="xsd:boolean" />
            <xsd:attribute name="colour" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="scale_min_max">
        <xsd:complexType>
            <xsd:attribute name="UseScale" type="xsd:boolean" />
            <xsd:attribute name="ScaleMin" type="xsd:integer" />
            <xsd:attribute name="ScaleMax" type="xsd:integer" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="start" type="xsd:string" />
    <xsd:element name="end" type="xsd:string" />
    <xsd:element name="style">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="width" type="xsd:integer" />
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="viz_name" type="xsd:boolean" />
    <xsd:element name="tidestation" type="xsd:string" />
    <xsd:element name="rte_properties">
        <xsd:complexType>
            <xsd:attribute name="planned_speed" type="xsd:string" />
            <xsd:attribute name="etd" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="action" type="xsd:boolean" />
</xsd:schema>